//extends layout
//
//block content
//
div
    h2
        | History
        small
            br
            | Select Video To Video From Your History
    video.videoContainer(controls='', preload='auto', width='640', height='264')
    br
    .jumbotron
