.dashboard-page
    .container-fluid
        .row
            .col-sm-3.col-md-3.sidebar
                .text-center
                    br
                    br
                    br
                    br
                    img.user-avatar(src='images/flat-avatar.png')
                    h2.brand {{ userName }}
                ul.nav.nav-sidebar
                    li(ng-class="{active: $state.includes('home')}")
                        a(ui-sref='home')
                            svg-image#homeIcon.settingCheckBox(src='images/home-img.svg')
                            |&nbsp;&nbsp;Home
                    li(ng-class="{active: $state.includes('history')}")
                        a(ui-sref='history')
                            svg-image#historyIcon.settingCheckBox(src='images/history-img.svg')
                            |&nbsp;&nbsp;History
                    li(ng-class="{active: $state.includes('settings')}")
                        a(ui-sref='settings')
                            svg-image#settingsIcon.settingCheckBox(src='images/settings-img.svg')
                            |&nbsp;&nbsp;Settings
                    li(ng-class="{active: $state.includes('login')}")
                        a(ui-sref='login')
                            svg-image#logoutIcon.settingCheckBox(src='images/log-out-img.svg')
                            |&nbsp;&nbsp;Logout
            .col-sm-9.col-sm-offset-3.col-md-9.col-md-offset-2.main(ui-view='')
