extends layout

block content
    //h1= title
    //p Welcome to #{title}
    div
        div(ui-view='')
    // Load JS libs and angular tool for building our framework to have modular application structure
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='/javascripts/jquery.bxslider.js')
    script(src='/javascripts/angular.js')
    script(src='/javascripts/swipe.js')
    // Configure my angular App
    script(src='/javascripts/myDashApp.js')
    // -----------------------------------------------------
    // load app controllers
    // ------------------
    // load dashboard controllers that controle the main dashboard view, Home and History views
    script(src='/javascripts/dashboard/dashboardController.js')
    script(src='/javascripts/dashboard/home/homeController.js')
    script(src='/javascripts/dashboard/history/historyController.js')

    // load settings controller for dashboard settings view
    script(src='/javascripts/dashboard/settings/settingsController.js')
    // load svgImage directive that load external svg and create it's tag to enable colorize the svg
    script(src='/javascripts/dashboard/settings/svgImageDirective.js')
    // load login controller to authorize any user info
    script(src='/javascripts/login/loginController.js')
    // load local storage module to access browser storage
    script(src='/javascripts/local-storage-module-min.js')
