doctype html
html.no-js(ng-app='myDashApp')
  head
    title= title
    meta(charset='utf-8')
    //meta(name='description')
    //meta(name='viewport', content='width=device-width')

    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/video-js.css')
    link(rel='stylesheet', href='/stylesheets/jquery.bxslider.css')
  body
    block content
