//extends layout
//
//block content
.login-page
    .row
        div
            img.accedo-logo(src='/images/accedo-logo.png')
            h1
                | Accedo
                small Video Player
            form.col-md-4.col-lg-4.col-md-offset-4.col-lg-offset-4(role='form', ng-submit='submit()')
                .form-content
                    .form-group
                        input#emailValue.form-control.input-underline.input-lg(type='text', placeholder='Any eMail')
                    .form-group
                        input.form-control.input-underline.input-lg(type='password', placeholder='Any Password')
                button.saveButton(type='submit') Login
