//extends layout
//
//block content
div
    h2
        | Settings
        small
            br
            | Here we can set any user profile settings data to browser memory to be loaded always with browser
    br
    br
    h4
        | GENERAL
    hr
    .settingsContainer
        .options
            div
                | {{ firstOption}}
                button#launchWithPCButton(type='button', ng-click='launchWithPC()')
                    svg-image#launchWithPC.settingCheckBox(src='images/checkmark.svg')
            br
            div
                | {{ secondOption }}
                button#minimizeInTrayButton(type='button', ng-click='minimizeInTray()')
                    svg-image#minimizeInTray.settingCheckBox(src='images/checkmark.svg')
        br
        .approveChanges
            button.cancelButton(ng-click='cancelUpdates()', ng-show='statusUpdated') CANCEL
            button.saveButton(ng-class='{savedStatus: updateSaved}', ng-click='saveUpdates()', ng-show='statusUpdated || updateSaved')
                | SAVE
