//extends layout
//
//block content
div
    h2
        | Home
        small
            br
            | Select Video To Play
    video.videoContainer(controls='', preload='auto', width='640', height='264', style='display:none')
    br
    .jumbotron
